$footer__navigation: (
  	columns: 7,
  	output: float
);

$footer__info: (
 	columns: 7,
  	output: float,
);

$footer__contact: (
  	columns: 2,
  	output: float,
);

.footer{
	@extend %divider-top;
	padding-top: 2em;
	font-size: $link-font-size;
	line-height: $line-height;

	a{
		@include nav_link();
	}
}

.footer__navigation{	
	@include layout($footer__navigation);
	@extend %clearfix;
}

.footer__section{
	&--c1{@include span(1 at 1);}
	&--c2{@include span(1 at 2);}
	&--c3{@include span(1 at 3);}
	&--c4{@include span(3 at 4);}
	&--c5{@include span(1 at 7);}
}

.footer__header{
	margin-bottom: 1em;
	text-transform: uppercase;
}

.footer__item{

}

.footer__link{
	@include nav_link();
}


.footer__contact{
	@include layout($footer__contact);
	width: 100%;
}

.footer__address{

	&--one{
		@include span(1 first); 
	}

	&--two{
		@include span(1 last); 
	}

	dt,
	dd{
		text-transform: uppercase;
	}

	dt{
		display: inline;
	}

	a{
		color: inherit;
		text-decoration: none;
	}
}


.footer__info{
	@include layout($footer__info);
	margin-top: 1em;
}


.footer__copy{
	 @include span(3 at 1);
	 text-transform: uppercase;
}

.footer__newsletter{
	@include span(2 at 4);
	position: relative;
	top: -2.8em;
}

.footer__social{
	@include span(1 at 7);
	position: relative;
 	color: $theme-grey;
 	top: -3.8em;
}

.footer__social-item{
	display: inline-block;
	margin-right: .5em;
}

.footer__social-link{
	color: inherit;
	font-size: 1.6em;

	&:hover{
		color: $theme-grey-dark;
	}
}

.footer__title{
	 @include span(1 last); 
	 text-align: right;
}

@include respond-to(mobile) {
	.footer{
		font-size: inherit;
	}

	.footer__header{
		@include font_bold();
	}

	.footer__section{
		&--c1{@include span(7 at 2);}
		&--c2{@include span(7 at 3);}
		&--c3{@include span(7 at 4);}
		&--c4{@include span(7 at 1);}
		&--c5{@include span(7 at 5);}

		margin-bottom: 1em;
	}

	.footer__address{

		&--one,
		&--two{
			@include span(7 at 1); 
			margin-bottom: 1em;
		}

	}

	.footer__newsletter,
	.footer__social,
	.footer__copy{
		@include span(7 at 1);
		margin-bottom: 1em;
	}

	.footer__newsletter,
	.footer__social{
		top: 0;
	}

	.footer__social-link{
		font-size: 2em !important;
	}
}


@include respond-to(small) {
	$footer__tablet: (
		columns: 3,
		container: 100%,
		output: float
	);

	.footer__navigation{
		@include layout($footer__tablet);
	}

	.footer__section{
		&--c1{@include span(1 at 1);}
		&--c2{@include span(1 at 2);}
		&--c3{@include span(1 at 3);}
		&--c4{@include span(2 at 1);}
		&--c5{@include span(1 at 3);}
	}

	.footer__info{
		@include layout($footer__tablet);
		margin-top: 2em;
	}

	.footer__copy{
		@include span(1 at 1);
	}

	.footer__newsletter{
		@include span(1 at 2);
		top: 0;
	}

	.footer__social{
		@include span(1 at 3);
		top: 0;
		text-align: right;
		font-size: 1.5em;
	}

}