$header: (
  columns: 5
);

.header{
}

.header__main{
	@extend %divider-bottom;
	padding: 2em 0 1.5em 0;
}

.header__logo,
.header__navigation{
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.header__logo{
	margin-right: 2em;
	width: 200px;

	.logo{
		position: relative;
		top: 4px;
	}
}

.header__navigation{

	.navigation__link{
		vertical-align: bottom;
	}
}

.header__pages{
	@extend %clearfix;
	position: relative;
	height: $row-v-margin;
	padding: .5em 0;

	// Keep these specs in sync with the logo dimensions
	left: 2em;
	margin-left: 205px;
}

.header__pages-list{
	line-height: $row-v-margin;
}

@include respond-to(medium) {

	.header__pages{
	}
}

@include respond-to(small) {
	.header__pages{
		height: auto;
		margin-bottom: $row-v-margin;
		left: 0;
		margin-left: 0;
		
		.navigation__item {
			margin-right: 1em;
		}
	}
}

@include respond-to(mobile) {
	.header{
		display: none;
	}
}
