$header: (
  columns: 2 8
);

.header{
}

.header__main{
	@extend %clearfix;
	@extend %divider-bottom;
	@include layout($header);
	padding: 2em 0 1.5em 0;
}

.header__sub{

}

.header__logo,
.header__navigation{
	line-height: 30px;
}

.header__logo{
	@include span(1 first); 
}


.header__navigation{
	@include span(1 last); 

	.navigation__link{
		vertical-align: bottom;
	}
}

.header__pages{
	@extend %clearfix;
	@include layout($header);
	height: $row-v-margin;
	padding: .5em 0;
}

.header__pages-list{
	@include span(1 last); 
	line-height: $row-v-margin;
}


@include respond-to(mobile) {
	.header{
		display: none;
	}
}

@include respond-to(small) {
	$header: (
  		columns: 3 8
	);

	$pages: (
  		columns: 12
	);

	.header__main{
		@include layout($header);
	}

	.header__logo{
		@include span(1 first); 
	}

	.header__navigation{
		@include span(1 last); 
	}

	.header__pages{
		@include layout($pages); 
	}

	.header__pages-list{
		@include span(12 at 1); 
		.navigation__item {
			margin-right: 1em;
		}
	}
}