$header: (
  columns: 7
);

.header{
	.logo,
	.navigation,
	.header__cart{
		line-height: $header-line-height;
	}

	.header__cart-link{
		display: inline-block;
    	vertical-align: text-top;
    	position: relative;
    	top: 2px;
	}
}

.header__main{
	@include layout($header);
	@extend %divider-bottom;
	@extend %clearfix;

	padding-top: 1.2em;
	padding-bottom: 1.8em;
}

.header__logo,
.header__navigation{
	line-height: $header-line-height;
	display: inline-block;
	vertical-align: middle;
}

.header__logo,
.header__pages-empty{
	@include span(1 at 1); 
	min-width: 170px;
}

.header__logo{
	.logo{
		position: relative;
		top: 4px;
	}
}

.header__navigation{
	@include span(4 at 2); 

	.navigation__link{
		vertical-align: bottom;
	}
}

.header__pages{
	@include layout($header);
	@extend %clearfix;

	position: relative;
	min-height: 3.5em;
	padding: 0.9em 0 1.4em 0;
}

.header__pages-list{
	line-height: 4em;
}

.header__aside{
	text-align: right;
	
	.navigation,
	.header__cart{
		display: inline-block;
	}

	.navigation__link{
		vertical-align: bottom;
	}
}

.header__cart{
}

.header__cart-link{
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;

	span{
		vertical-align: middle;
		display: inline-block;
		margin-right: .5em;
	}
}

.header__cart-icon{
}

.header__cart-icon,
.header__cart-quantity{
	display: inline-block;
	vertical-align: middle;
}

@include respond-to(medium) {
	.header__pages{
	}
}

@include respond-to(header_wrap) {
	.header__pages-empty{
		display: none;
	}
}

@include respond-to(mobile) {
	.header{
		display: none;
	}
}
