$main__section-column-2: (columns: 2, gutters: .1);
$main__section-column-3: (columns: 3, gutters: .1);
$main__section-column-4: (columns: 4, gutters: .1);

$main__section--information: (
	columns: 7, 
	gutters: .1,
);

@mixin block-offset-top($offset: 40%){
	&:before {
    	display: block;
    	content: "";
    	width: 100%;
    	padding-top: #{$offset};
  	}
}


.main{
	min-height: 100px;

	&--small{
		.page__body,
		.article__content{
			max-width: 88%;
		}
	}

	&--background-image{
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: right bottom;
	}
}

.main__section{
	@extend %clearfix;
	margin: $row-v-margin 0;
	width: 100%;

	&:first-child{
		margin-top: 0;
	}

	&:last-child{
		margin-bottom: $row-v-margin / 2;
	}
}

.main__section{
	&--column-2{@include layout($main__section-column-2);}
	&--column-3{@include layout($main__section-column-3);}
	&--column-4{@include layout($main__section-column-4);}

	@for $i from 1 through 4{
		&--column-#{$i}{
			.main__block{
				 @include gallery(1 of $i);
			}
		}
	}
}

.main__block{
	position: relative;
}

.main__section{

	&--jumbo{
	}

	&--small{
		.main__block{
			width: 75%;
			margin: 0 auto;
		}
	}

	&--offset{
		.main__block{
			&:nth-child(even){
				@include block-offset-top('40%');
			}
		}
	}

	&--split{
		 display: flex;
		.main__block{
			display: flex;

			&--first{
				 @include span(4 at 1);
			}

			&--last{
				 @include span(3 at 5);

				 .visual{
				 	@extend %background-image;
				 	min-height: 200px;
				 	position: absolute;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				 }
			}
	
			// Overriding Suzy's layout so the flexbox approach for equal height sticks.. not the best move, will check how it behaves
			&--first,
			&--last{
				margin-left: 0;
				margin-right: 0;
				padding-right: 4em;
			}

		}
	}
}

@include respond-to(small) {
	$main__section-tablet: (
		columns: 2,
		output: float
	);

	.main{
		&--small{
			.page__body,
			.article__content{
				max-width: none;
			}
		}
	}

	.main__section{
		&--column-2,
		&--column-3,
		&--column-4{
			@include layout($main__section-tablet);

			.main__block{
				&:nth-child(even){				
				 	@include gallery(1 at 1);
				}
				&:nth-child(odd){				
				 	@include gallery(1 at 2);
				}
				margin-bottom: gutter();
			}
		}
	}
}

@include respond-to(mobile) {

	.main{
		&--small{
			.page__body,
			.article__content{
				max-width: none;
			}
		}

		&--background-image{
			background-image: none !important;
		}
	}

	.main__section{
		&--small{
			.main__block{
				width: auto;
				margin: auto;
			}
		}
	}

	.main__section{
		&--column-2,
		&--column-3,
		&--column-4{

			.main__block{			
				display: block;
				float: none;
				margin-left: 0 !important;
				margin-right: 0 !important;
				width: 100%;

				margin-bottom: gutter();
			}
		}
	}
}