// http://susy.oddbird.net/
$susy: (
  container: $container-width-large,
  global-box-sizing: border-box
);

.wrapper{
	@include container;
	padding: 0 $desktop-padding $desktop-padding $desktop-padding;
}

@include respond-to(mobile) {
	.wrapper{
		padding: $mobile-padding;
		background: inherit;
		margin-top: $mobile-offset-top;
	}
}

@include respond-to(medium) {
	.wrapper{
		padding: 0 $tablet-padding $tablet-padding $tablet-padding;
	}
}

@include respond-to(small) {
	.wrapper{
		padding: 0 $tablet-padding $tablet-padding $tablet-padding;
	}
}

// Sticky footer: https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
.wrapper{
	display: flex;
	height: 100%;
    flex-direction: column;
}

.wrapper__content{
	flex:  1 0 auto;
}
// END
