$article--excerpt-header: (
	columns: 4
);

.article{
	text-align: center;
	width: 100%;
}

.article__image-container{
	margin-bottom: .8em;
}

.article__image{
	width: 100%;
	display: block;
}

.article__header{
	margin: 1.5em 0 1em 0;

	&:first-child{
		margin-top: 0;
	}
}

.article__title{
	@include font-regular();
	font-size: inherit;
	text-transform: uppercase;
}

.article__body{
	p{
		margin-bottom: 1em;
	}

	> strong{
		display: block;
	}

	a{
		@include nav-link();
	}

	img{
		width: 100%;
		display: block;
	}

	> *{
		margin-bottom: 2em;
	}
}

.article__footer{
	margin-top: 1em;
}

.article__link{
	@include nav-link();
}

.article{

	&--excerpt,
	&--full{
		margin: 0 auto;
		text-align: left;

		.article__header{
			@include layout($article--excerpt-header);
			@extend %clearfix;
		}

		.article__title{
			@include span(3 at 1);
			@include font-bold();
			font-size: inherit;
		}

		.article__date{
			@include span(1 at 4);
			@include font-bold();
			text-align: right;
			font-size: inherit;
		}
	}
	
}

@include respond-to(mobile) {
	.article{
		text-align: left;

		&--excerpt,
		&--full{
			.article__title{
				@include span(4 at 1);
			}

			.article__date{
				@include span(4 at 1);
				text-align: left;
			}
		}

	}
}

@include respond-to(small) {
	.article{

		&--excerpt,
		&--full{
			width: 100%;
		}
	}
}