.article{
	
	&--excerpt{
		text-align: left;

		.article__header{
			@include layout($article--excerpt-header);
			@extend %clearfix;
		}

		.article__title{
			@include span(3 at 1);
			font-size: inherit;
		}

		.article__date{
			@include span(2 at 4);
			text-align: right;
			font-size: inherit;
		}

		&-small{
			width: 88%;
		}

		&-tiny{
			width: 65%;
		}
	}

}

@include respond-to(mobile) {
	.article{
		text-align: left;

		&--excerpt{
			width: 100% !important;

			.article__title{
				@include span(4 at 1);
			}

			.article__date{
				@include span(4 at 1);
				text-align: left;
			}
		}

	}
}

@include respond-to(small) {
	.article{

		&--excerpt{
			width: 100%;
		}
	}
}