.article{
	text-align: center;
	width: 100%;
}

.article__image-container{
	margin-bottom: .8em;
}

.article__image{
	width: 100%;
	display: block;
}

.article__header{
	margin: emRhythm(2) 0;

	&:first-child{
		margin-top: 0;
	}
}

.article__title{
	@include font-regular();
	font-size: inherit;
	text-transform: uppercase;
}

.article__body{
	p{
		margin-bottom: 1em;
	}

	> strong{
		display: block;
	}

	a{
		@include nav-link();
	}

	img{
		width: 100%;
		display: block;
	}

	> *{
		margin-bottom: 2em;
	}
}

.article__footer{
	margin-top: 1em;
}

.article__link{
	@include nav-link();

	 > *{
	 	display: inline-block;
	 	vertical-align: middle;
	 }
	 
	 .icon{
	 	margin-left: .2em;
	 }
}