$carrousel__footer: (
  	columns: 3
);

.carrousel{	
	position: relative;
	overflow: hidden;

	.slick-list,
	.slick-track{
		width: 100%;
	}

	.slick-arrow{
		position: absolute;
		top: 50%;
		margin-top: -.6em;
		z-index: 1;
		border: none;
    	outline: none;
    	background: transparent;
    	color: transparent;
		background-repeat: no-repeat;
    	background-position: left center;
    	background-size: contain;
    	width: 1.2em;
    	height: 1.2em;
    	color: transparent;

		&.slick-next{
			right: 1em;
    		background-image: url('../images/static/arrow_next_w.svg');
		}

		&.slick-prev{
			left: 1em;
    		background-image: url('../images/static/arrow_prev_w.svg');
		}
	}

	.slick-dots{
		width: 100%;
		text-align: center;
		position: relative;
		top: -3em;
		color: white;

		> li{
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			position: relative;
			margin: 0 .25em;
			cursor: pointer;

			button{
				border: none;
    			outline: none;
    			background: transparent;
    			color: transparent;
    			font-size: 0;
			}

			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 1em;
				height: 1em;
				background: transparent;
				border: thin solid white;
			}
			
			&:hover,
			&.slick-active{
				&:before{
					background: white;
				}
			}
		}
	}
}

.carrousel__list-container{
    display: block;
    content: "";
    width: 100%;
   overflow: hidden;
}

.carrousel__list-container > .carrousel__list{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carrousel__list{


}

.carrousel__item{
	display: inline-block;
	width: 100%;
	margin-bottom: $row-v-margin;
}

.carrousel__block{
	@extend %background-image;
	position: relative;
	width: 100%;
}

.carrousel__label{
	position: absolute;
	color: white;
	font-size: 110%;
}

.carrousel__label-link{
	color: inherit;
	text-decoration: none;
}

.carrousel__image{
	width: 100%;
}

.carrousel__footer{
	@include layout($carrousel__footer);
}

.carrousel__description{
	@include span(1 at 1);

	h2{
		font-size: inherit;
		font-weight: normal;
		margin-bottom: 1em;
	}

	a{
		color: inherit;
		text-transform: uppercase;
	}
}

.carrousel__item-description{
	@include span(2 at 2);
	text-align: right;
}

.carrousel{

	.js &{
		.carrousel__item{
			visibility: hidden;
		}
	}

	&--default{
	}

	&--slicked{

		.carrousel__list{

		}

		.carrousel__item{
			visibility: visible !important;
			margin-bottom: 0;
		}

		.carrousel__info{
			display: none;
		}

		.carrousel__footer{
			margin-top: $row-v-margin / 2;
		}
	}

}

@include respond-to(mobile) {
	.carrousel__description,
	.carrousel__item-description{
		@include span(3 at 1);
		
		text-align: left;
	}

	.carrousel{	

		.slick-arrow{
			width: 1em;
			height: 1em;

			&.slick-prev{
				left: .5em;
			}

			&.slick-next{
				right: .5em;
			}
		}


	}

}