.grid{

}

.grid__item{
	@include ratio_block('.grid__content');
}

.grid__content{
	@extend %background-image;
	padding: 1em;

	&:hover{
		.grid__header{
			display: block;
		}
	}
}

.grid__header{
	display: none;
}