.logo{
	font-size: 2.5em;
}

.logo__link{
	@include logo($header-line-height);
	color: inherit;
	text-decoration: none;
}

@include respond-to(mobile) {
	.logo__link{
		height: 35px;
		width: 150px;
	}
}