
.navigation{
}

.navigation__item{
	display: inline-block;
	margin-right: 1.2em;

	&--active{
		
	}
}

.navigation__link{
	@include nav_link();
	font-size: $nav-font-size;
	position: relative;
	top: .2em;
}