
$page: (
  	columns: 7
);

$page__header: (
  	columns: 7
);

.page{
	margin: 0 auto $row-v-margin auto;

	@include layout($page);
	@extend %clearfix;

	&--sidebar{
		.page__content{
			@include span(5 at 1);
		}

		.page__aside{
			@include span(1.5 at 6.5);
		}

	}
}

.page__content{

	&--divided{
		padding: ($row-v-margin / 2) 0 0 0;
		border-top: $divider-line;
		border-bottom: $divider-line;

		&:only-child{
			border-bottom: 0;
		}

		p:last-child{
			margin-bottom: 0;
		}
	}
}

.page__header{
	@include layout($page);
	@extend %clearfix;
}

.page__header-left{
	@include span(4 at 1);
}

.page__header-right{
	@include span(3 at 5);
	text-align: right;
}

.page__title{

}

.page__sub-title{
}

.page__body{
	@extend %text-body-styles;
}

.page__aside{
	position: relative;
}



// Vertical rhytm 
// http://typesettings.io/
.page__header{
	margin-bottom: emRhythm(2);
}

.page__header-left,
.page__header-right,
.page__aside .aside__body > section:first-child{
	&:after{
		content: '';
		width: 0;
		height: emRhythm(8);
		display: inline-block;
		//background: red;
	}
}

.page__aside .aside__body > section:first-child{
	> *{
		display: inline-block;
		vertical-align: bottom;
		line-height: emRhythm(8);
	}
}

.page__title,
.page__sub-title,
.page__aside .aside__title{
	display: inline-block;
	vertical-align: baseline;
}

.page__aside .aside__title{
	position: relative;
	right: -.2em;
}
// END


@include respond-to(mobile) {
	.page{
		&--sidebar{
			.page__content,
			.page__aside{
				@include span(7 at 1);
			}
		}
	}

	.page__header-left,
	.page__header-right,
	.page__aside .aside__header{
		&:after{
			display: none;
		}
	}

	.page__content,
	.page__aside{
		float: none !important;
	}


	.page__content{
		&--divided{
			padding-top: .2em;
			border-top: 0;
		}
	}

	.page__aside{
		text-align: left !important;
		margin-top: 1em;
	}

	.page__header-left,
	.page__header-right{
		@include span(7 at 1);
	}

	.page__header-right{
		text-align: left !important;
	}
}
