<article class="article article--excerpt">

	<header class="article__header">
		<h2 class="article__title">Art/Sanne Vaesen</h2>
		<small class="article__date">November 8 2015</small>
	</header>

	<div class="article__image-container">
		<img class="article__image" src="{{image}}"></img>
	</div>

	<div class="article__body">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

	<footer class="article__footer">
		<a href="" class="article__link">
			<span>Link to the complete story</span>
			<i class="icon icon-next"></i>
		</a>
	</footer>

</article>