<header class="header">

	<div class="header__main">

		<div class="header__logo">
			{{> template-parts/logo}}
		</div>

		<nav class="header__navigation">
			{{> template-parts/navigation-main}}
		</nav>

	</div>

	<div class="header__pages">
		<div class='header__pages-empty'>&nbsp;</div>
		<nav class='header__pages-list'>
			{{> template-parts/navigation-pages}}
		</nav>
	</div>

</header>