<header class="header-mobile">

	<div class="header-mobile__logo">
		{{> template-parts/logo}}
	</div>

	<div id="mobile-toggle" class="header-mobile__toggle">
		<i id="mobile-open" class="icon fa fa-bars"></i>
		<i id="mobile-close" class="icon fa fa-times"></i>
	</div>

</header>