<section class="main__section grid main__section--column-4 {{#if mode}}main__section--{{mode}}{{/if}}">
	
	<div class="main__block grid__item">

		<div class="grid__content" style="background-image:url('images/summer_01.jpg')">
			<div class="grid__header">
				ET loves to show her inspiration
			</div>
		</div>

	</div>

	<div class="main__block grid__item">

		<div class="grid__content" style="background-image:url('images/summer_02.jpg')">
			<div class="grid__header">
				ET loves to show her inspiration
			</div>
		</div>

	</div>
	
	<div class="main__block grid__item">

		<div class="grid__content" style="background-image:url('images/summer_03.jpg')">
			<div class="grid__header">
				ET loves to show her inspiration
			</div>
		</div>

	</div>

	<div class="main__block grid__item">

		<div class="grid__content" style="background-image:url('images/summer_04.jpg')">
			<div class="grid__header">
				ET loves to show her inspiration
			</div>
		</div>

	</div>

</section>