<section class="main__section main__section--column-3 {{#if mode}}main__section--{{mode}}{{/if}}">
	
	<div class="main__block">

		<article class="article">
			<div class="article__image-container">
				<img class="article__image" src="images/summer_02.jpg"></img>
			</div>
			<div class="article__body">
				<p>
				et loves to show her inspiration
				</p>
			</div>
			<div class="article__footer">
				<a class="article__link" href="">
					<span>don't be scared, you will love it!</span>
					<i class="icon fa fa-arrow-right"></i>
				</a>
			</div>
		</article>

	</div>

	<div class="main__block">

		<article class="article">
			<div class="article__image-container">
				<img class="article__image" src="images/summer_03.jpg"></img>
			</div>
			<div class="article__body">
				<p>
					oeps.. fail in love this summer with strappy 4
				</p>
			</div>
			<div class="article__footer">
				<a class="article__link" href="">
					<span>never enough straps on your body!!</span>
					<i class="icon fa fa-arrow-right"></i>
				</a>
			</div>
		</article>

	</div>

	
	<div class="main__block">

		<article class="article">
			<div class="article__image-container">
				<img class="article__image" src="images/summer_03.jpg"></img>
			</div>
			<div class="article__body">
				<p>
					oeps.. fail in love this summer with strappy 4
				</p>
			</div>
			<div class="article__footer">
				<a class="article__link" href="">
					<span>never enough straps on your body!!</span>
					<i class="icon fa fa-arrow-right"></i>
				</a>
			</div>
		</article>

	</div>

</section>