.back-to-top{
	text-transform: uppercase;
	text-decoration: none;
	font-size: $nav-font-size;
	color: inherit;
	margin-top: 2em;
	display: block;
	float: right;

	i{
		display: none;
	}

	&:after{
		content: '';
		display: inline-block;
		background-image: url(../images/static/arrow_next.svg);
		background-repeat: no-repeat;
		background-position: center center;
		width: 12.5px;
		height: 12.5px;
		margin-left: .5em;
		top: .2em;
		position: relative;
		transform: rotate(-90deg);

	}

}

.woocommerce-page{	
	button,
	.button{
		background-color: $theme-black !important;
		padding: .8em .8em !important;
		color: white !important;
		border-radius: 0 !important;
		text-transform: uppercase;

		&:hover{
			background-color: $theme-grey-dark !important;
		}
	}
}

.woocommerce div.product div.images div.thumbnails{
	padding-top: 0;

	&.columns-1{
		a{
			margin-top: 2em;
			display: block;
		}
	}
}

.woocommerce ul.products li{
	margin-right: 2% !important;

	&.first{
		clear: none;
	}

	&.last{

	}
}

.woocommerce ul.products li.product h3{
	padding: 0;
	text-transform: uppercase;
}

.woocommerce ul.products li.product .button{
	margin-top: 0;

	&:hover{
		background-color: transparent !important;
	}
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message{
	background-color: transparent !important;
	border-top: 0 !important;
	padding-left: 0 !important;
	position: relative;
	top: -1px;

	>li{
		display: inline-block;
	}

	&:before {
		display: none;
	}

	// &:before {
	// 	font-family: FontAwesome;
 //    	color: inherit;
 //    	display: inline-block;
 //   	 	vertical-align: middle;
 //   	 	position: relative;
 //   	 	top: auto;
 //   	 	left: auto;
 //   	 	font-size: 1.5em;
 //   	 	margin-right: .5em;
 //   	 	line-height: 1;
	// }

	.button{
		display: none;
	}
}

// .woocommerce .woocommerce-message{
// 	&:before {
//     	content: "\f00c";
//     }
// }

// .woocommerce .woocommerce-error,
// .woocommerce .woocommerce-info{
// 	&:before {
//     	content: "\f129";
//     }
// }

// Checkout
.woocommerce table.shop_table{
	border-radius: 0;
}

.cart_totals,
.woocommerce table.shop_table th{
	text-transform:: uppercase;
	font-size: $nav-font-size;
}

.woocommerce a.remove{
	color: inherit !important;
}

.woocommerce a.remove:hover{
	color: inherit !important;
	background: transparent;
}

.woocommerce-cart table.cart td.actions .coupon .input-text{
	padding: .62em !important;
	width: 16em !important;
}

.shop_table{
	.button{
		opacity: .5;
		transition: all $transition-duration;

		&:hover{
			opacity: 1;
		}
	}
}


.woocommerce,
.woocommerce__main{
	h1,
	h2,
	h3,
	h4,
	h5{
		text-transform: uppercase;
		font-size: $nav-font-size;
	}
}

.woocommerce__main{
	margin-left: 0 !important;
	margin-right: 0 !important;

	li.product{
		text-align: right;
		
		a{
			color: inherit !important;
			font-size: $nav-font-size;
			text-transform: uppercase;
		}

		&:hover{
			.onsale{
				background: rgba(0, 0, 0, 1) !important;
				transform: scale(1.2, 1.2);
				transform-origin: 50% 50%;
			}
		}
	}

	.woocommerce__product{
		overflow: hidden;

		> a{
			color: inherit !important;

			h3{
				font-weight: normal !important;
			}
		}
	}
	
	.woocommerce__summary{
		[itemprop="description"]{
			margin-bottom: 2em;
		}

		[itemprop="offers"]{
			margin-bottom: 3em;
			font-size: $nav-font-size;
		}

		.content__header{
			margin-bottom: 1em;
		}

		p + p{
			margin-top: 1em;
		}

		a{
			color: inherit;
		}

		.cart{
			margin-top: 1em;

			> *{
				display: inline-block !important;
				vertical-align: middle !important;
				float: none !important;
			}

		}

		.stock.in-stock{
			display: none;
		}
	}

	.woocommerce__extra{
		clear: both;

		> *{
			@extend %divider-top;

			h2{
				margin: 1em 0;
			}

			ul.products li.product{
				margin-bottom: 1em !important;

				a{
					color: inherit;
				}
			}
		}
	}

	.onsale{
		top: 1em !important;
		left: 1em !important;
		right: auto !important;
		margin: 0 !important;
		background: rgba(0, 0, 0, .75) !important;
		border-radius: 0 !important;
		padding: .75em !important;
		min-width: 0 !important;
		min-height: 0 !important;
		line-height: 1 !important;
		transition: all $transition-duration;
	}

	ins{
		text-decoration: none !important;
		margin-left: .5em !important;
	}


	.aside__woocommerce{
		> *{
			display: block;
			text-align: inherit;
			float: none !important;
		}
	}

	.woocommerce-pagination{
		text-align: left !important;

		.page-numbers{
			border: none !important;

			li{
				border-right: none !important;

				span.current{
					background: inherit !important;
				}
			}
		}
	}

	a.button{
		@include nav-link();
		padding: 0 !important;
		background: none !important;
		font-weight: normal !important;

		&:after{
			content: '';
			display: inline-block;
			background-image: url(../images/static/arrow_next.svg);
			background-repeat: no-repeat;
			background-position: center center;
			width: 12.5px;
			height: 12.5px;
			margin-left: .5em;
			top: .2em;
    		position: relative;
		}

		&:hover{
			color: inherit !important;
		}
	}

	div.product p.price, .woocommerce div.product span.price{
		color: inherit;

		&:after{
			content: '';
			display: inline-block;
			background-image: url(../images/static/arrow_next.svg);
			background-repeat: no-repeat;
			background-position: center center;
			width: 12.5px;
			height: 12.5px;
			margin-left: .5em;
		}

	}

	// END
	
}


// FORMS

.woocommerce form .form-row .required{
	color: inherit;
}

.checkout{
	.form-row{
		padding-left: 0 !important;
	}

	label{
		text-transform:: uppercase;
		font-size: $nav-font-size;
	}

	.input-text,
	.select2-container .select2-choice{
		border: thin solid $theme-grey !important;
		border-radius: 0 !important;
	}

	.input-text {
		padding: .25em;
	}

	.select2-container .select2-choice{
		padding: .5em;
	}

	.woocommerce-checkout-payment{
		border-radius: 0 !important;
	}
}

@include respond-to(mobile) {

	.woocommerce__main li.product{
		text-align: left;
		width: 100% !important;
	}

	.woocommerce-cart table.cart td.actions .coupon .input-text{
		width: 100% !important;
		margin-bottom: 1em;
	}

	.shop_table{
		.actions{

			.coupon .input-text,
			.button{
				width: 100% !important;
				float: none !important;
			}

		}
	}

}