.aside__woocommerce{
	> *{
		display: block;
		text-align: inherit;
		float: none !important;
	}
}

.woocommerce-pagination{
	text-align: left !important;

	.page-numbers{
		border: none !important;

		li{
			border-right: none !important;

			span.current{
				background: inherit !important;
			}
		}
	}
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button{
	@include nav-link();
	padding: 0 !important;
	background: none !important;
	font-weight: normal !important;

	&:after{
		content: '';
		display: inline-block;
		background-image: url(../images/static/arrow_next.svg);
		background-repeat: no-repeat;
		background-position: center center;
		width: 12.5px;
		height: 12.5px;
		margin-left: .5em;
	}

	&:hover{
		color: inherit !important;
	}
}

.product{
	> a{
		color: inherit !important;

		h3{
			font-weight: normal !important;
		}
	}
}