$divider: thin solid $theme-grey;

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%divider-top {
	border-top: $divider;
}

%divider-bottom {
	border-bottom: $divider;
}

%background-image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}