$divider: thin solid $theme-grey;

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%divider-top {
	border-top: $divider;
}

%divider-bottom {
	border-bottom: $divider;
}

%background-image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

%text-body-styles{
	line-height: $text-line-height;
	color: $text-content-color;

	h1,
	h2,
	h3,
	h4,
	h5{
		@include font-regular();
		margin-bottom: .5em;
	}

	p{
		margin-bottom: 1em;
	}

	a{
		@include nav-link();
	}

	img{
		max-width: 100%;
		height: auto;

		&.size-full{
			width: 100%;
		}
	}


	> strong{
		display: block;
	}
}