// Base
$background-color:					white;
$text-default-color:				#010101;
$text-content-color:				#212121;
$link-color:						#010101;
$theme-grey:						#a1a1a1;
$theme-grey-dark:					#616161;
$transition-duration:				0.2s;

// Layout
$container-width-large:				1222px;
$row-v-margin:						50px;
$mobile-padding:					16px;
$mobile-offset-top:					70px;
$tablet-padding:					25px; // small/medium
$desktop-padding:					25px; // large
$header-line-height: 				25px;

// Typo
$base-font-size: 					13px;
$text-line-height:					1.6em;
$nav-font-size: 					11px;
$line-height: 						1.6;
$link-font-size: 					90%;

// Various
$divider-line:						thin solid $theme-grey;

// Shared Susy layouts
$article--excerpt-header: (
	columns: 5
);



// Responsive
// ----
// http://www.sitepoint.com/managing-responsive-breakpoints-sass/
// http://sassmeister.com/gist/0614ac3971ae82925ef4
//
// Using em's in case the page get's zoomed in
// ----

$screen:       "only screen and";
$breakpoints: (
  'mobile'  		: '#{$screen} ( max-width: 480px )',
  'small'  			: '#{$screen} ( min-width: 480.1px )  and ( max-width: 768px )',
  'medium'  		: '#{$screen} ( min-width: 768.1px )  and ( max-width: #{$container-width-large} )',
  'large' 			: '#{$screen} ( min-width: #{$container-width-large}  )',
  'header_wrap'  	: '#{$screen} ( max-width: 1000px )',
);