html{
}

body{
	font-family: 'dinregular', sans-serif;
	letter-spacing: 0.5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-color;
}

@include respond-to(mobile) {
}

h1,
h2,
h3,
h4,
h5{
	font-weight: normal;
}